body {

    font-family: monospace;
    font-weight: normal;
    background-color: #AAAAAA;
    font-size: 16px;
    text-align: center;

}
#about-me img {

    display: inline-block;
    width: 400px

}

.nav:hover {

    background-color: #999999;

}

.project-images img {
    display: inline-block;
    width: 40%;
    
}
.project-img-1 {
    display: inline-block;
    width: 40%;
    text-align: left;
    float: left;
    margin: 0px 0px 0px 35px
}
.project-img-2 {
    display: inline-block;
    width: 40%;
    text-align: right;
    float: left;
    margin: 0px 0px 0px 10px
    
    
}

.contact-form {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}







