body {
    font-family: monospace;
    font-weight: normal;
    background-color: #AAAAAA;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

#about-me img {
    display: inline-block;
    width: 50%;
    height: 40%;
}

.nav:hover {
    background-color: #999999;
}

.project-images img {
    display: inline-block;
    width: 40%;
}

.project-des-1,
.project-des-2 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    box-sizing: border-box;
    font-size: 16px; 
}

.project-des-1 p {
    text-align: left;
    margin: 0;
}

.project-des-2 p {
    text-align: right;
    margin: 0;
} 

#contact-form {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}



nav {
    width: 100%; 
    background-color: #777777;
}

.nav {
    display: inline;
     }

.name {
    font-size: 40px;
    margin-bottom: 5px;
    background-color: #888888;
}

.project-descriptions {
    width: 80%;
    margin: 0 auto;
    text-align: center; 
    font-size: 0; 
}

@media (max-width: 600px) {

    .project-descriptions {
        font-size: 16px;
        text-align: left;
        width: 95%;
    }

    .project-des-1,
    .project-des-2 {
        display: block;
        width: 100%; 
    }

    .project-des-2 p {
        text-align: left; 
    }

}

@media (max-width: 300px) {

     .nav {
        display: block;
        text-align: left;
    }

}








